
.swiper-button-next {
    color: #ffe600; 
  }
  
  .swiper-button-prev {
    color: #ffe600;
  }
  

  .swiper-slide {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

  